<% content_for :title, "Editing friend" %>

<h1 class="text-center">Editing friend</h1>
<br>
<%= render "form", friend: @friend %>

<br>
<div class="d-flex justify-content-center">
<div class="d-flex flex-column col-3 align-items-center">
  <%= link_to "Show this friend", @friend, class:"btn btn-secondary col-12" %><br>
  <%= link_to "Back to friends" , friends_path, class:"btn btn-dark col-12" %>
</div>
</div>